@font-face {
	font-family: 'Segoe WP Light';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Sagoe/segoe-wp-light.ttf') format('truetype');
}


@font-face {
	font-family: 'Segoe WP';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Sagoe/ofont.ru_Segoe WP.ttf') format('truetype');
}