// ***********************************
// BUTTONS
// ***********************************

button {
    font-size: 100%; 
    margin: 0; 
    vertical-align: baseline; 
}
button {
    background: $blue;
    font-size: 1.847em;
    line-height: 1.96em; 
    padding: 0 0.882em;
    border: none;
    &:hover {
        background: $button-hover;
        
    }
}
.fa-chevron-circle-down {
    padding-right: 0.882em;
}
@include breakpoint($break-menu) {
    button {
        font-size: 1.57em;
        padding: 0 0.714em;
    }
        .fa-chevron-circle-down {
        padding-right: 0.714em;
    }
}


